#frame
  -unless @mb_group.deleted == true
    #page_title
      %h1= @eagle_group.present? ? @eagle_group['name']: @mb_group.name
    #main
      - if @eagle_group.present?
        %section{id: 'composit_view'}
          %h2 About this Group
          #main-info-details
            -if @eagle_group['images'].present? && @eagle_group['images'][0].present? && !@eagle_group['images'][0].empty?
              %img.group_img.resize{src: @eagle_group['images'][0], extra_info_state: @eagle_group['location']['state'], extra_info_city: @eagle_group['location']['city']}
            -else
              %img.group_img.resize{src: "http://placehold.it/180x125.png", extra_info_state: @eagle_group['location']['state'], extra_info_city: @eagle_group['location']['city']}
            %ul
              %li
                - if @eagle_group['location'].present?
                  %span{ class:'label'}= location_to_html(@eagle_group['location'])
                - else
                  %span{ class:'label'}Location Unknown
              %li
                %span{class:'label'}Range of Operation:
                = @eagle_group['range'].present? ?  @eagle_group['range'] : 'Local'
              %li
                %span{class:'label'}Number of Members:
                = @eagle_group['size'].present? ?  @eagle_group['size'] : 'Unknown'
              %li
                %span{class: 'label'}Last Updated:
                = (@mb_group.present? && @mb_group.updated_at.present?) ? format_date(@mb_group.updated_at) : 'Unknown'
              %li
          #main-info-description
            -if @eagle_group['description']
              = @eagle_group['description']
          #main-info-keywords
            %ul
              %li <span class='label'>Tags: </span>
              -if @mb_group.present? && @mb_group.present?
                - @mb_group.tags.each do |word|
                  %li=word.titleize
              -else
                %li This group has no tags
          #main-info-description
            %h2 Links
            - if @eagle_group['links'].present?
              = links_to_html(@eagle_group['links'])
            -else
              This group has no links.
      -else
        %section{id: 'composit_view'}
          %h2 About this Group
          %p We are not recieveing a composit view for this group. If it is new it will take some time for the collection server to grab all the info and create this view.
      %section#mockingbird_view.hideable
        %h2 Secular Connect Info
        - if @mb_group.present?
          .edit_links
            -if current_user.present?
              -if (current_user.role == 'admin') || (current_user == @mb_group.user)
                %a{href: '#mockingbird', class: 'edit_link'}Edit fields here
              -elsif @mb_group.pending_user.blank? 
                %form.form.no_form{action: "/groups/#{@mb_group.id}/claim", method: 'post'}
                  %input#claim_group_link.link.on_white{type: 'submit', :value => 'Claim Group'}
            -else
              - if @mb_group.pending_user.blank? 
                %a{href: '/login', class: 'login_link'}Login to claim group
              - else 
                %a{href: '/login', class: 'login_link'}Login to edit group
          %ul.mocking_bird_detais
            %li.name
              %span.label Name:
              %span.text= @mb_group.name if @mb_group.name
            %li.location
              %span.label Location:
              %span.text= location_to_html(@mb_group.location) if @mb_group.location.present?
            %li.range
              %span.label Range:
              %span.text= @mb_group.range if @mb_group.range.present?
            %li.tags
              %span.label Tags:
              %span.text= @mb_group.tags.join(', ').titleize if @mb_group.tags.present?
            %li.description
              %span.label Description:
              %br
              %span.text= @mb_group.description if @mb_group.description.present?
            %li
              %span.label Links:
              %ul#view_url_list.list
                - if @mb_group.links.present?
                  - @mb_group.links.select { |l| not l.url.include? "?op=leaders" }.each do |link|
                    %li{group_id: "#{link.id}"}
                      %a{href: "#{link.url}", object_id: "#{link.id}", group_id: "#{link.id}"}= link.name
      -if current_user.present? && (current_user == @mb_group.user || current_user.role == 'admin')
        %section{id: 'mockingbird_edit', class: 'hidden hideable'}
          %h2 Edit Secular Connect Info
          .edit_links
            %a{href: '#mockingbird', class: 'main_info edit_link cancel'}Cancel
          %ul.form_nav
            %li
              %a.form_nav_link#main_info_area{href: "#"} Main Info
            %li
              %a.form_nav_link#url_area{href: "#"} URL
            %li.hidden
              %a.form_nav_link#tags_area{href: "#"} Tags
            %li
              %a.form_nav_link#admin_area{href: "#"} Admin
          .form.main_info_area
            #group_error.hidden.hideable.form_error
            %form#submit_groups.submit_groups.ajax_submit{action: "#{@mb_group.id}", method: :post}
              %label Name:
              %input{type: "text", name: 'group[name]', value: @mb_group.name}
              %br
              -#############Location Field####################
              %label Location:
              %input#autocomplete{placeholder: "#{location_to_html(@mb_group.location)}", onFocus: "geolocate()", type:"text"}
              %br
              -#############Google Crap Field####################
              .hidden
                %input.field#address{disabled: "true", name: "group[location][address]"}
                %input.field#street_number{disabled: "true", name: "group[location][street_num]"}
                %input.field#route{disabled: "true", name: "group[location][street_address]"}
                %input.field#locality{disabled: "true", name: "group[location][city]"}
                %input.field#administrative_area_level_1{disabled: "true", name: "group[location][state]"}
                %input.field#postal_code{disabled: "true", name: "group[location][postal_code]"}
                %input.field#country{disabled: "true", name: "group[location][country]"}
              -#############End Google Crap#####################
              %label Range:
              %select{name: 'group[range]'}
                %option{value: 'local', :selected => @mb_group.range == "local"} Local
                %option{value: 'regional', :selected => @mb_group.range == "regional"} Regional
                %option{value: 'nationwide', :selected => @mb_group.range == "nationwide"} Nationwide
                %option{value: 'international', :selected => @mb_group.range == "international"} International
              %br
              %label Description:
              %textarea{ name: 'group[description]', rows: "10", cols: "70"}=@mb_group.description
              %br
              %input#main_info_submit{type: "submit", value: "Save"}
              %a{href: '#mockingbird', class: 'main_info cancel'}Cancel
            -# Admin edit form
          .form.admin_area.hidden.hideable
            .delete_group_area
              %p Delete this group from the database
              %a{href: "/delete", action: "#{@mb_group.id}/delete", id: "delete_group_#{@mb_group.id}", object_type: 'group', class: 'delete_group ajax_submit danger', group_id: "#{@mb_group.id}"}Delete
            - if current_user.role == 'admin' && @mb_group.pending_user.present? && @mb_group.user.nil?
              %form{action: "#{@mb_group.id}/approve", method: :post}
                %label User Claim
                %input{type: "text", name: 'group[name]', value: @mb_group.pending_user.email, :disabled => true}
                %input{type: "submit", value: "Approve"}
          -# URL Edit Form
          .form.url_area.hidden.hideable
            #url_error.form_error.hidden.hideable
            %ul.list#edit_url_list
              - if @mb_group.links.present?
                - @mb_group.links.select { |l| not l.url.include? "?op=leaders" }.each do |link|
                  %li{group_id: "#{link.id}"}
                    .url_link
                      %a{href: "#{link.url}", object_id: "#{link.id}"}= link.name
                    .url_action_links
                      %a{href: "#{link.id}/edit", id: "edit_url_link_#{link.id}", class: 'edit_url_link', group_id: "#{link.id}"}Edit
                      |
                      %a{href: "#{link.id}/delete", action: "#{@mb_group.id}/delete_url/#{link.id}", object_type: 'link', id: "delete_url_link_#{link.id}", class: 'delete_url_link ajax_submit', group_id: "#{link.id}"}Delete
            - @mb_group.links.select { |l| not l.url.include? "?op=leaders" }.each do |link|
              %form.submit_url.ajax_submit.hidden.hideable.url{action: "#{@mb_group.id}/url/#{link.id}", method: :post, id: "url_edit_form_#{link.id}", group_id: "#{link.id}"}
                %select.url{name: 'link[type]'}
                  %option{value: 'website', :selected => link.type == "website"} Website
                  %option{value: 'facebook', :selected => link.type  == "facebook"} Facebook
                  %option{value: 'twitter', :selected => link.type  == "twitter"} Twitter
                  %option{value: 'blog', :selected => link.type  == "blog"} Blog
                  %option{value: 'calendar', :selected => link.type == "calendar"} Calendar
                %input.url{type: "text", name: 'link[url]', value: link.url, object_id: "#{link.id}"}
                %br
                %br
                %input{type: "submit", value: "Save"}
                %a{href: '#mockingbird', class: 'cancel url'}Cancel
            .url_add_form
              #showAddForm.hideable
                %a{href: "#showAddForm"}Add a Link
                %a.cancel.main_info{href: "#cancel"}Done
              %form.add_url_link.ajax_submit.hideable.hidden.link.url{action: "#{@mb_group.id}/add_url", method: :post, id: "add_url_form"}
                %select.url{name: 'link[type]'}
                  %option{value: '', disabled: true, selected: true} Choose Type
                  %option{value: 'website'} Website
                  %option{value: 'facebook'} Facebook
                  %option{value: 'twitter'} Twitter
                  %option{value: 'blog'} Blog
                  %option{value: 'calendar'} Calendar
                %input.url{type: "text", name: 'link[url]'}
                %br
                %br
                %input.url{type: "submit", value: "Add"}
                %a{href: '#mockingbird', class: 'cancel url'}Cancel


          -# Tags Edit Form
          .form.tags_area.hidden.hideable
            %form#tags_from{action: "#{@mb_group.id}/url", method: :post}
              %h2 This is where tags go.

      - if @eagle_group.present? && @meetup_group != nil
        %section{id: 'meetup_view'}
          %h2 Meetup Info
          - if @meetup_group.kind_of?(Hash) && @meetup_group.any?
            .edit_links
              %a{href: "#{@eagle_group['refs']['meetup']}/manage", class: 'edit_link', target: '_blank'}Edit on Meetup.com
            %ul
              - @meetup_group.each do |key, value|
                - unless key == 'keywords' || key == 'images'
                  %li
                    %span.label="#{key.titleize}:"
                    =attribute_seperator(value, key)
          -elsif @meetup_group == nil
            %p We do not have a Meetup link for this group
          -elsif @meetup_group.kind_of?(Hash) && @meetup_group.empty?
            %p We have a link to the Meetup Group but no information could be collected

        %section{id: 'facebook_view'}
          %h2 Facebook Info
          - if @facebook_group.kind_of?(Hash) && !@facebook_group.empty?
            .edit_links
              %a{href: "#{@eagle_group['refs']['facebook']}", class: 'edit_link', target: '_blank'}Edit on Facebook.com
            %ul
              - @facebook_group.each do |key, value|
                - unless key == 'keywords' || key == 'images'
                  %li
                    %span.label="#{key.titleize}:"
                    =attribute_seperator(value, key)
          -elsif @facebook_group == nil
            %p We do not have a Facebook link for this group
          -elsif @facebook_group.kind_of?(Hash) && @facebook_group.empty?
            %p We have a link to the Facebook Group but no data could be collected
  - else
    #page_title
      %h1 Group Removed
      %p 
        This group has been removed. If you believe this message is in error place contact support at 
        %a.white{href: "mailto:netops@volary.org?Subject=Deleted%20Group", target: "_top"} netops@volary.org
